<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akash.CapitalsQuiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.akash.CapitalsQuiz.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.akash.CapitalsQuiz.questions"></activity>
        <activity android:name="com.example.akash.CapitalsQuiz.ScoreList"></activity>
        <activity android:name="com.example.akash.CapitalsQuiz.HighScore"></activity>

    </application>

</manifest>